In [ ]:
print(10)
print(type(10))

10
<class 'int'>

In [ ]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [ ]:
print('Hacktiv8');
print(type('Hacktive8'))

Hacktiv8
<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

**Vaiable Names**

In [ ]:
name = 'Hacktiv8'
age = 58
has_laptops = True
print(name, age, has_laptops)

Hacktiv8 58 True

In [ ]:
A = 1
B = 2
C = 3

if B > A or B > C :
  print('tampil')
else :
  print('enggak')

tampil

In [ ]:
sistem = ['saya', 'pergi', 'ke', 'LPPI', 'kemang']
engineer = ['tidak', 'jalan', 'karena', 'banjir']

engineer[0] = 'tetap'

print(sistem[0], engineer[0], sistem[1], engineer[2], engineer[3])

saya tetap pergi karena banjir

In [ ]:
A = 6
B = 7
C = 9

if C > A :
  if B > C :
    print(True)
  else :
    print(False)
else :
  pass

False

Nilai salah satu dari A & B < 60 gagal, keduanya harus memiliki nilai diatas 60 agar lulus.

In [ ]:
siswa = [{'nama': 'Nama 1', 'nilaiA': 80, 'nilaiB': 70, 'jumlah': 150},
         {'nama': 'Nama 2', 'nilaiA': 55, 'nilaiB': 70, 'jumlah': 125},
         {'nama': 'Nama 3', 'nilaiA': 80, 'nilaiB': 90, 'jumlah': 170}]

for i in siswa :
  if i['nilaiA'] <= 60 or i['nilaiB'] <= 60 :
    print(i['nama'], 'Gagal')
  else :
    print(i['nama'], 'Lulus')

Nama 1 Lulus
Nama 2 Gagal
Nama 3 Lulus

In [ ]:
# username = input('Enter Username: ')
# nama = input('Nama: ')
# hobi = input('Hobi: ')
# email = input('Email: ')
# hp = input('HP: ')
uts = int(input('Nilai UTS: '))
uas = int(input('Nilai UAS: '))
status = ''

if uts <= 60 or uas <= 60 :
  total = uts+uas
  if total <= 125 :
    status = 'Gagal'
    print('Mohon maaf anda ', status)
  else :
    status = 'Lulus'
    print('Selamat anda ', status)

Nilai UTS: 50
Nilai UAS: 50
Mohon maaf anda  Gagal

In [ ]:
import os

name = input('Nama : ')
room = input('Ruang : ')
schema = input('Skema : ')

result = ''

for i in range(len(name)) :
    charToInt = ord(name[i])
    bin = ''
    oct = ''
    hex = ''

    #str to binarry
    dec = charToInt
    while dec > 0 :
        sisa = dec % 2
        bin = str(sisa) + bin
        dec //= 2

    #str to oct
    dec = charToInt
    while dec > 0 :
        sisa = dec % 8
        oct = str(sisa) + oct
        dec //= 8

    #str to hex
    dec = charToInt
    hex_chars = "0123456789ABCDEF"
    while dec > 0 :
        sisa = dec % 16
        hex = hex_chars[sisa] + hex
        dec //= 16

    # print(name[i], bin, oct, charToInt, hex)
    result += f"{name[i]}, {bin}, {oct}, {charToInt}, {hex}\n"

# checking file if exist
if os.path.exists("result.txt") :
  f = open('result.txt', 'a')
  f.write(f"{result}\n")
  f.close()
else :
  print("--- The file does not exist ---")
  print("--- Creating file... ---")
  f = open('result.txt', 'x')
  f.write(result)
  f.close()

print('--- Result ---\n', result)
f = open('result.txt', 'r')

print('--- Reading the file ---')
print(f.read())

Nama : Sovia
Ruang : 212
Skema : popo
--- Result ---
 S, 1010011, 123, 83, 53
o, 1101111, 157, 111, 6F
v, 1110110, 166, 118, 76
i, 1101001, 151, 105, 69
a, 1100001, 141, 97, 61

--- Reading the file ---
A, 1000001, 101, 65, 41
G, 1000111, 107, 71, 47
U, 1010101, 125, 85, 55
S, 1010011, 123, 83, 53

A, 1000001, 101, 65, 41
g, 1100111, 147, 103, 67
u, 1110101, 165, 117, 75
s, 1110011, 163, 115, 73

S, 1010011, 123, 83, 53
o, 1101111, 157, 111, 6F
v, 1110110, 166, 118, 76
i, 1101001, 151, 105, 69
a, 1100001, 141, 97, 61

In [ ]:
s = 'aku adalah'

print(s, 'lelaki')

aku adalah lelaki

**Percabangan & Perulangan**

In [ ]:
s = 12

# if s > 18:
#     for i in range(12, 16):
#         print(i)
#     print("Selesai")

while s < 16:
  print(s)
  s += 1

  while s > 18:
    s -= 1
    if s == 16 :
      continue
print('Selesai')

12
13
14
15
Selesai

In [ ]:
f = open('readme.txt', 'w')
f.write('Pelatihan kita di LPPI kemang')
f.write('\nDengan waktu yang telah ditentukan')

f = open("readme.txt", "r")
print(f.read())

Pelatihan kita di LPPI kemang
Dengan waktu yang telah ditentukan

In [ ]:
with open("readme.txt", "r") as f:
    contents = f.readlines()

contents.insert(1, 'dari pagi sampai sore\n')

with open("readme.txt", "w") as f:
    contents = "".join(contents)
    f.write(contents)